<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.allured.marondalgram.feed.dao.FeedDAO">
 	<insert id="insertFeed" parameterType="map">
 		INSERT INTO
 			`feed`
 		(
 			`userId`
 			, `userNickname`
 			, `imgUrl`
 			, `content`
 			, `createdAt`
 			, `updatedAt`
 		) VALUES
 		(
 			#{userId}
 			, #{userNickname}
 			, #{imgUrl}
 			, #{content}
 			, now()
 			, now()
 		)
 	</insert>
 	
 	<delete id="deleteFeed" parameterType="map">
 		DELETE FROM
 			`feed`
 		WHERE
 			`id` = #{id}
 		AND `userId` = #{userId}
 	</delete>
 	
 	<select id="selectFeedList" resultType="com.allured.marondalgram.feed.model.Feed">
 		SELECT
 			`id`
 			, `userId`
 			, `userNickname`
 			, `imgUrl`
 			, `content`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`feed`
 		ORDER BY `id` DESC
 	</select>
 	
 	<select id="selectFeedListByUserId" resultType="com.allured.marondalgram.feed.model.Feed">
 		SELECT
 			`id`
 			, `userId`
 			, `userNickname`
 			, `imgUrl`
 			, `content`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`feed`
 		WHERE `userId` = #{userId}
 		ORDER BY `id` DESC
 	</select>
 	<select id="selectFeed" resultType="com.allured.marondalgram.feed.model.Feed"> 	
 		SELECT
 			`id`
 			, `userId`
 			, `userNickname`
 			, `imgUrl`
 			, `content`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`feed`
 		WHERE
 			`id` = #{id}
 	</select>
 	
 	<select id="selectFeedCount" parameterType="int" resultType="int">
 		SELECT
 			COUNT(1)
 		FROM
 			`feed`
 		WHERE
 			`id` = #{id}
 	</select>
 </mapper>