<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.allured.marondalgram.feed.dao.FeedDAO">
 	<insert id="insertFeed" parameterType="map">
 		INSERT INTO
 			`feed`
 		(
 			`userId`
 			, `userNickname`
 			, `imgUrl`
 			, `content`
 			, `createdAt`
 			, `updatedAt`
 		) VALUES
 		(
 			#{userId}
 			, #{userNickname}
 			, #{imgUrl}
 			, #{content}
 			, now()
 			, now()
 		)
 	</insert>
 	
 	<delete id="deleteFeed" parameterType="int">
 		DELETE FROM
 			`feed`
 		WHERE
 			`id` = #{id}
 	</delete>
 	
 	<select id="selectFeedList" resultType="com.allured.marondalgram.feed.model.Feed">
 		SELECT
 			`id`
 			, `userId`
 			, `userNickname`
 			, `imgUrl`
 			, `content`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`feed`
 		ORDER BY `id` DESC
 	</select>
 	
 	<insert id="insertLike" parameterType="map">
 		INSERT INTO
 			`like`
 		(
 			`feedId`
 			, `userId`
 			, `createdAt`
 		) VALUES
 		(
 			#{feedId}
 			, #{userId}
 			, now()
 		)
 	</insert>
 	
 	<select id="selectLikeList" resultType="com.allured.marondalgram.feed.model.Like">
 		SELECT 
 			`id`
 			, `feedId`
 			, `userId`
 			, `createdAt`
 		FROM
 			`like`
 	</select>
 	
 	<delete id="deleteLike" parameterType="int">
 		DELETE FROM
 			`like`
 		WHERE
 			`feedId` = ${feedId}
 		AND `userId` = ${userId}
 	</delete>
 	
 	<delete id="deleteLikeIfDeleteFeed" parameterType="int">
 		DELETE FROM
 			`like`
 		WHERE
 			`feedId` = ${feedId}
 	</delete>
 	
 	<insert id="insertComment" parameterType="map">
 		INSERT INTO
 			`comment`
 		(
 			`userId`
 			, `userNickname`
 			, `feedId`
 			, `comment`
 			, `createdAt`
 			, `updatedAt`
 		) VALUES
 		(
 			#{userId}
 			, #{userNickname}
 			, #{feedId}
 			, #{comment}
 			, now()
 			, now()
 		)
 	</insert>
 	
 	<select id="selectCommentList" resultType="com.allured.marondalgram.feed.model.Comment">
 		SELECT
 			`id`
 			, `userId`
 			, `userNickname`
 			, `feedId`
 			, `comment`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`comment`
 	</select>
 	
 	<delete id="deleteComment" parameterType="int">
 		DELETE FROM
 			`comment`
 		WHERE
 			`feedId` = ${feedId}
 		AND `userId` = ${userId}
 	</delete>
 	
 	<delete id="deleteCommentIfDeleteFeed" parameterType="int">
 		DELETE FROM
 			`comment`
 		WHERE
 			`feedId` = ${feedId}
 	</delete>
 </mapper>