#wrap {
	width:1550px;
}

header {
	height:80px;
	background-color:purple;
	border-bottom:1px solid ;
}

section > #login-box {
	width:550px;
	height:700px;
	background-color:#dddddd;
	border:1px solid gray;
	border-radius:3px;
}

section > #signup-box {
	width:550px;
	height:700px;
	background-color:#dddddd;
	border:1px solid gray;
	border-radius:3px;
}

#story-box {
	width:600px;
	height:100px;
	background-color:#dddddd;
	border:1px solid gray;
	border-radius:3px;
}

#feed-box {
	width:600px;
	background-color:#dddddd;
	border:1px solid gray;
	border-radius:3px;
}

#story-user-profile, #feed-user-profile {
	cursor:pointer;
}

.story-profileImgs {
	width:50px;
	height:50px;
	border-radius:50px;
}

.feed-profileImgs {
	width:35px;
	height:35px;
	border-radius:35px;
}

.feed-imgVideo {
	height:400px;
	background-color:blue;
}

.like-icon, .comment-icon {
	width:25px;
	height:25px;
}

.like-box, .comment-box {
	cursor:pointer;
}

.like-count {
	font-weight:bold;
}

.moreBtn {
	cursor:pointer;
}

#hr-box {
	height:50px;
}

footer {
	height:70px;
	background-color:purple;	
}